.badge {
  position: relative;
  transition: all 0.2s ease;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1;
  height: 1.5rem;
}

.badge:focus {
  outline: none;
}

.badge:focus-visible {
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.5);
}

.badge::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(to right, var(--primary), var(--primary-dark));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.badge:hover::before {
  opacity: 1;
}
